
.barre {
    background: rgb(14, 1, 75); 
    width: 40px;
    text-align: right;
    color: white;
    border-radius: 100px;
}


h1{
    font-size: 50px;
}

p {
    font-size: 25px;
}



.imagebvn {
    display: inline-block;
    margin: 10px; 

}

.imgmoi {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #ddd; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 50px;
}


.imgmoi:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline-block; 
    margin-right: 30px; 
}

nav ul li a {
    color: rgb(255, 255, 255); 
    margin: 50px;
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px 15px; 
    display: block; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #575757; 
    border-radius: 5px; 
}



section h2 {
    font-size: 32px;
    color: #333; 
    margin-bottom: 20px;
    text-align: center; 
}

section p {
    font-size: 16px;
    color: #555; 
    line-height: 1.6;
    text-align: center;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 37px;
    margin: 15px 0;
}

h3{
    font-size: 50px;
    color: white;
}

p {
    font-size: 20px;
    margin: 5px 0;
}



.container-competences, .container-contact, .container-realisation, .container-formation {
    width: 80%;
    max-width: 800px;
    padding: 30px;
    background-color: #afc5db;
    border: 1px solid #afc5db;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 50px;
}

footer {
    background: rgba(0, 51, 102, 0.9); 
    color: white; 
    text-align: center;
    padding: 20px; 
    font-size: 14px;
    margin-top: 50px;
}


.container-accueil {
    text-align: center; 
}

.p-{
    color: white;
}