*{
    font-family: 'Roboto', sans-serif;  
}

.barre {
    background: red;
    height: 20px;

    text-align: right;
    color: white;
    border-radius: 100px;
}

body{
    background: linear-gradient(#e66465, #9198e5);
}

h1{
    font-size: 50px;
}

p {
    font-size: 25px;
}

.container {
    text-align: center; 
}

.imagebvn {
    display: inline-block; 

}
